
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }

.wrapper{
  min-height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;

}
.conteiner{
  max-width: 1180px;
  margin: 0px auto;
}
.content{
  flex: 1 1 auto;
}

.hi{
  padding: 50px 0px;
  background-color: #445162;
}
.hi__row{
  display: flex;
  justify-content: space-between;

}
.hi__body{
  color: #ffffff;
  padding: 0px 200px 0px 0px;
}
.hi__title{
  margin: 0px 0px 40px 0px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  font-size: 60px;

}
.hi__list{

}
.hi__list li{
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  margin: 0px 0px 15px 0px;
  padding: 0px 0px 0px 36px;
  background: url(icons/icon.png) 0 1px no-repeat;
  font-size: 20px;
}
.hi__list li last-child{margin: 0;}
.hi__image{}

.title{
  color: #445161;
  font-size: 30px;
  line-height: 36px;

}

.what{
  padding: 50px 0px;
}
.what__row{
  display: flex;
}
.what__image{
  flex: 0 0 430px;
}
.what__image img{
  max-width: 100%;
}
.what__body{
  flex: 1 1 auto;
  padding: 0px 0px 0px 38px;
}
.what__title{
  margin: 0px 0px 33px 0px;
}
.what__text{}
.what__text p{
  margin: 0px 0px 25px 0px;
  color: #333333;
  font-size: 16px;
  line-height: 24px;
}

.columns {
  background-color: #f5f5f5;
  padding: 50px 0 20px 0;
}
.columns__title {
  text-align: center;
  margin: 0px 0px 30px 0px;
}
.columns__row {
  display: flex;
  flex-wrap: wrap; /*adaptiv flex colomn*/
  margin: 0px -8px; /*negative margin 1*/
}
.columns__column {
  flex: 0 1 40%;
  padding: 0px 8px; /* positive padding for fixed 2 */
  margin: 0px 0px 30px 0px;
}
.columns__item {
  background-color: #f5f5f5;
  padding: 50px 0px;
}

.item {}
.item__row {
  display: flex;

}
.item__image {
  flex: 0 0 200px;
}
.item__body {
  padding: 0px 0px 0px 15px;
  flex: 1 1 auto;
}
.item__title {
  color: #445161;
  font-size: 24px;
  margin: 0px 0px 15px 0px;
}
.item__text {
  color: #333333;
  font-size: 16px;
  line-height: 24px;
}


.vertical {
  padding: 50px 0px;
}
.vertical__title {

  text-align: center;
  padding: 15px 0;
  font-size: 24px;
  text-transform: uppercase;
}
.vertical__body{
  max-width: 990px;
  margin: 0px auto; 
}
.vertical__row {
  display: flex;
  margin: 0px -22.5px;
}
.vertical__column {
  padding: 22.5px;
  flex: 0 1 33.333%;
  display: flex;
}
.vertical__column_1{}
.vertical__column_2{}
.vertical__column_3{}

.vertical__item {
  background-color: #445162;
  border-radius: 5px;
  color: #fff;
  border: 1px solid #445162;
  display: flex;
  flex-direction: column;
  padding: 0px 0px 20px 0px;
}
.vertical__subtitle {
  text-align: center;
  padding: 15px 0;
  font-size: 24px;
  text-transform: uppercase;
  
}
.vertical__label {
  text-align: center;
  background-color: #fff;
  padding: 12px 0px;
  color: #445162;
  font-size: 40px;
}
.vertical__text {
  padding: 20px;
  font-size: 16px;
  line-height: 24px;
  flex: 1 1 auto;
}

.vertical__text p{
  margin: 0px 0px 15px 0px;
}
.vertical__text p:last-child{
  margin: 0;
}
.vertical__btn {
  display: block;
  margin: 0px 20px;
  text-align: center;
  line-height: 40px;
  background-color: #fff;
  border-radius: 5px;
  color: #445161;
  font-size: 18px;
}




.footer{
  background-color: #f5f5f5;
}
.footer__row{
  display: flex;
  height: 65px;
  justify-content: center;
  align-items: center;
}
.footer__text{
  color: #444162;
  font-size: 12px;
  letter-spacing: 0.3px;
}
